.image-grid{
  width: 80%;
  margin: 2rem auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.image-grid img{
  width: 100%;
  height: auto;
  border: 3px dashed black;
}
