.image-grid{
  width: 80%;
  margin: 2rem auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "one . ."
    ". two three"
    ". four five";
}

.image-grid img{
  width: 100%;
  height: auto;
  border: 3px dashed black;
}

img{
  width:300px;
  height:auto;
}

.image-grid .one{ grid-area: one; }
.image-grid .two{ grid-area: two; }
.image-grid .three{ grid-area: three; }
.image-grid .four{ grid-area: four; }
.image-grid .five{ grid-area: five; }

.boxed{
  width: 60%;
  margin: 2rem auto;
  padding: 1rem;
  border: 3px dashed black;
  background-color: green;
}
